source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect
nuget Argu
nuget BigRational
nuget Ficus
nuget FSharpPlus
nuget FSharpx.Collections
nuget MathNet.Numerics.FSharp
nuget ReadLine
nuget Spectre.Console